





  




<section class="profile-env">
	
	<div class="row">
	
	
		<div class="col-sm-3">
			
			<!-- User Info Sidebar -->
			<div class="user-info-sidebar">
				
				<a href="" class="user-img">
					<img src="{{data.logo}}" alt="user-img" class="img-cirlce img-responsive img-thumbnail" />
				</a>
				
				<a href="" class="user-name">
					{{data.name}}
					<span class="user-status is-online"></span>
				</a>
				
				<span class="user-title">
					 <strong>{{data.category.name}}</strong>
				</span>
				
				<hr />
				
				<ul class="list-unstyled user-info-list">
				<li>
					<i class="fa-home"></i>
					{{data.adress}}
				</li>
				<li>
					<i class="fa-briefcase"></i>
					<a href="">A Cote De L'hotel De Parc, Tunis</a>
				</li>
				<li>
					<i class="fa-graduation-cap"></i>
					Cartes de crédit:Oui
				</li>
			</ul>	
					
				<hr />
				
				<ul class="list-unstyled user-friends-count">
					<li>
						<span>643</span>
						followers
					</li>
					<li>
						<span>108</span>
						following
					</li>
				</ul>
				
				<button type="button" class="btn btn-success btn-block text-left">
					Following
					<i class="fa-check pull-right"></i>
				</button>
			</div>
			
			
		</div>
		
		<div class="col-sm-8">
			
			<!-- User Post form and Timeline -->
			
			
			<!-- User timeline stories -->
			<section class="user-timeline-stories">
				
				<!-- Timeline Story Type: Status -->
				<article class="timeline-story">
					
					<i class="fa-paper-plane-empty block-icon"></i>
					
					<!-- User info -->
					<header>
					<div class="story-album">
						<div	ng-controller="Ctrl as ctrl">

						<ng-gallery images="ctrl.images">
</ng-gallery>
						</div>
						</div>	
						<a href="" class="user-img">
							<img src="{{data.logo}}" alt="user-img" class="img-responsive img-circle" />
						</a>
						
						<div class="user-details">
							<a href=""> Taraji Store</a> 						
						</div>
						
					</header>
					
					<div class="story-content">
						<!-- Story Content Wrapped inside Paragraph -->
						<p>{{data.description}}</p>
						
						<!-- Story Options Links -->
						<div class="story-options-links">
							<a href="">
								<i class="linecons-heart"></i>
								Like 
								<span>(3)</span>
							</a>
							
							<a href="">
								<i class="linecons-comment"></i>
								Comments
								<span>(5)</span>
							</a>
						</div>
						
						
						<!-- Story Comments -->
						<ul class="list-unstyled story-comments">
							<li>
								
								<div class="story-comment">
									<a href="" class="comment-user-img">
										<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xlp1/v/t1.0-1/p160x160/12705164_1130175253688781_5695100704955058593_n.jpg?oh=30b5f3419a62046c545540be18803ae8&oe=572A9395&__gda__=1466764970_94c23cde9f120721c33950daec83f41b" alt="user-img" class="img-circle img-responsive" />
									</a>
									
									<div class="story-comment-content">
										<a href="" class="story-comment-user-name">
											Mkachakh 
											<time>01 December 2014 - 17:54</time>
										</a>
										
										<p>تخلينا الموت يا الترجي</p>
									</div>
								</div>
								
							</li>
							<li>
								
								<div class="story-comment">
									<a href="" class="comment-user-img">
										<img src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-0/p110x80/10352271_864212187030915_1023025039138483737_n.jpg?oh=fda96f05b77b38fbec3b8e1cc67e874f&oe=5760CE16&__gda__=1462480484_403a4e8a5768cf41b75c6421b4dc636e" alt="user-img" class="img-circle img-responsive" />
									</a>
									
									<div class="story-comment-content">
										<a href="" class="story-comment-user-name">
											Weld el virage 
											<time>04 November 2014 - 17:54</time>
										</a>
										
										<p>Berrou7 w dam w el3alem Allah</p>
									</div>
								</div>
								
							</li>
						</ul>
						
						<form method="post" action="" class="story-comment-form">
							<textarea class="form-control input-unstyled autogrow" placeholder="Reply..."></textarea>
						</form>
					</div>
					
				</article>
				
				<!-- Timeline Story Type: Audio -->
		
		
				
				<!-- Timeline Story Type: Check-in -->
				
				
					
					
					
					
						<article class="timeline-story">
					
					
					
					<!-- User info -->
					<header>
						
						<a href="" class="user-img">
							<img src="https://irs3.4sqi.net/img/general/300x300/24647156_F6J6azXKgac2xCBbbf_l7qywoOHH3BUAj3GduavkoEY.jpg" alt="user-img" class="img-responsive img-circle" />
						</a>
						
						<div class="user-details">
							<a href=""> <strong>Les nouveatés</strong></a> 						
						</div>
						
					</header>
						
					<!-- Audio Track -->
					
					
					<div class="story-content">
						
						<div class="panel panel-default panel-border">
		
			
						<div class="panel panel-default panel-border">
			
			
			<div class="panel-body">
				
				Taraji store est toujours à l'écoute de ses fans 
Suite à vos demandes au sujet des produits officiels Nike 
de notre équipe sénior et en particulier au sujet de la disponibilté 
du maillot officiel pour la saison 2015/2016
nous tenons à vous informer que Taraji store a fait toutes les démarches 
nécessaires auprès du représentant légal de la marque en Tunisie depuis
le mois d'août 2015 afin que le maillot soit disponible dès le premier 
match au cours duquel les joueurs le porteront .
Nous continuons à faire tout notre possible pour mettre à votre 
disposition le maillot avant la reprise de la phase retour du
championnat Merci de votre compréhension. <a> Voir Plus</a>
				
				
				<br> 
				<br> 
				
			<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/s851x315/12549056_1000007243427571_5279083195119210631_n.jpg?oh=39da79fa3aaa4d3b8f6ff7b8ecd316c8&oe=5727CEFD&__gda__=1466995062_858e3d45f17c7766d21b0f1ae89ae703" class="img-thumbnail" width="100%" height="100%">
			</div>
		</div>
			
										<div class="panel panel-default panel-border">
			
			
			<div class="panel-body">
				
				<p>Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least. <a> Voir Plus</a></p>
			
				<br> 
				<br> 
				
			<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xlf1/t31.0-8/12469446_1001980313230264_4086686794180194143_o.jpg" class="img-thumbnail" width="100%" height="100%">
			</div>
		</div>
							<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
						
					</div>
					
				</article>
					
				<article class="timeline-story">
					
					
					
					<!-- User info -->
					<header>
						
						<a href="" class="user-img">
							<img src="https://irs3.4sqi.net/img/general/300x300/24647156_F6J6azXKgac2xCBbbf_l7qywoOHH3BUAj3GduavkoEY.jpg" alt="user-img" class="img-responsive img-circle" />
						</a>
						
						<div class="user-details">
							<a href=""> <strong>Les evennements</strong></a> 						
						</div>
						
					</header>
						
					<!-- Audio Track -->
					
					
					<div class="story-content">
						
						
		
			
						<div class="panel panel-default panel-border">
			
			
			<div class="panel-body">
			<time>04 November 2014 - 17:54</time>
				<br>
				<br>
				‪#‎Mkachakh‬ ? Vous souhaitez soutenir votre équipe MAIS vous ne voulez pas changer votre numéro ? Pas de soucis ! Si vous êtes un client Tunisie Telecom Migrez vers Taraji Mobile SANS Changer votre numéro ! 
Via le code *202#, vous pouvez rejoindre la tribu Taraji mobile immédiatement !
** La migration est à ‪#‎2DT‬. <a> Voir Plus</a>

				
				<br> 
				<br> 
				
			<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/12654153_1010030892425206_51285645971090261_n.jpg?oh=0cf30c60193003faa18924f0a57a7ff4&oe=5767BB21&__gda__=1465587424_62b06c85b7eeefb8c15b9de60d8f4c82" class="img-thumbnail" width="100%" height="100%">
			</div>
		</div>
			
										<div class="panel panel-default panel-border">
			
			
			<div class="panel-body">
				
				Pour l’histoire, en ce lendemain de 15 janvier, date anniversaire, souvenons-nous des joueurs de la toute première équipe, celle de 1919 qui comprenait aux côtés de Chedly Zouiten,Hédi Ben Ammar, Allala Gaigi, Hassen et Hassine Bouderbala, Mohamed et Mhamed Zouaoui, Tahar Zouari, Hédi Kallel, Tahar Labiadh et Othman Ben Soltane.
Hommage aux pionniers de l’Espérance et bon anniversaire Taraji ! <a>Voir Plus</a>
				<br> 
				<br> 
				
			<img src="http://www.webdo.tn/wp-content/uploads/2016/01/EST-97.jpg" class="img-thumbnail" width="100%" height="100%">
			</div>
		</div>
							<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
						
					</div>
					
						
    
</div>
						
						</article>	
				
				<!-- Timeline Story Type: Check-in -->
			
			
					
					
					
				<!-- Timeline Story Type: Photos -->
				
			</section>
			
		</div>
		
	</div>
	
		
			
</section>

